button:disabled {
  opacity: 0.6;
  color: var(--grey);
}

.btn--remove-default,
.btn--link {
  background: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
}

.btn--bold {
  font-weight: 600;
}

.btn-primary {
  background-color: var(--brand-primary);
  color: var(--brand-white);
}

.btn-primary:focus:not(:disabled),
.btn-primary:hover:not(:disabled) {
  background-color: var(--brand-secondary);
}

.btn-raised {
  border: none;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  font-size: 14px;
  min-height: 36px;
  min-width: 64px;
  padding: 0 16px;
  text-align: center;
}

.btn-white {
  background-color: var(--brand-white);
  color: var(--brand-primary);
}

.btn-white:focus:not(:disabled),
.btn-white:hover:not(:disabled) {
  background-color: var(--light-grey);
}