input[type="text"],
input[type="number"] {
    border: 0;
    background: transparent;
    border-bottom: 2px solid var(--light-grey);
    width: 100%;
    min-height: 2.5em;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-bottom-color: var(--brand-primary);
    outline: none;
    transition: 0.6s ease border;
}