* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--body-text);
}

.bar {
  min-height: 50px;
  padding: 1em;
  background: var(--brand-primary);
  color: var(--brand-white);
  box-shadow: var(--box-shadow);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  min-height: 100vh;
}

.wrapper {
  padding: 1.5em 1em 1em;
  position: relative;
  height: calc(100vh - 110px);
}

.wrapper--paybar-nav {
  height: calc(100vh - 245px);
}

.wrapper--nav {
  height: calc(100vh - 175px);
}

.phone-shell {
  width: 360px;
  height: calc(100vh - 60px);
  outline: 1px solid var(--grey);
  /* background: var(--body-bg); */
  position: relative;
}

.bottom-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  margin-top: 0;
}

/* Responsive */
@media screen and (max-width: 670px) {
  .container {
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  .phone-shell {
    outline: none;
    width: 100%;
    height: auto;
  }

  .bottom-area {
    position: fixed;
  }

  .wrapper {
    height: auto;
  }
}
/* End of Responsive */
