.bottom-nav {
  background: var(--brand-secondary);
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

.bottom-nav__btn {
  color: var(--white);
  opacity: 0.6;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.bottom-nav__btn--active {
  opacity: 1;
}

.bottom-nav__btn span {
  display: block;
}

.bottom-nav__btn .icon {
  margin-bottom: 5px;
}

.bottom-nav__badge {
  right: -16px;
  top: -4px;
}

.bottom-nav__badge--double-digit {
  padding: 3px;
  right: -20px;
}

.bottom-nav__badge--triple-digit {
  padding: 3px;
  right: -30px;
}