.card {
    background-color: white;
    min-height: 60px;
    border-radius: 2px;
    padding: 16px;
    box-shadow: var(--dialog-shadow);
    min-width: 300px;
}

.card--dialog {
    position: relative;
    top: 60px;
}

.card__content {
    padding: 6px;
}

.card__footer {
    border-top: 1px solid var(--lighter-grey);
    display: flex;
    justify-content: space-between;
}