.empty-cart {
    text-align: center;
    padding: 3em 0;
    height: 100%;
}

.empty-cart .icon {
    font-size: 6em;
    color: var(--grey);
}

.empty-cart p {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}